################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/obj
/ClientAzureAD/.vs/ClientAzureAD
/ClientAzureAD/bin/Debug/netcoreapp2.2
/ClientAzureAD/obj
/Microsoft.Identity.Web/bin/Debug
/Microsoft.Identity.Web/obj
/WebAPIAzureAD/.vs/WebAPIAzureAD
/WebAPIAzureAD/bin/Debug/netcoreapp2.2
/WebAPIAzureAD/obj
