@{
    ViewData["Title"] = "Home Page";
}

<h1>
    AzureAD Protected WebClient & API
</h1>
<h2>What is this Project about?</h2>
<p>
    This sample shows how to secure a Web API built with ASP.NET Core using the Microsoft identity platform (formerly Azure Active Directory for developers).The client uses OpenID Connect to sign in users. It leverages the ASP.NET Core OpenID Connect middleware
    and MSAL.NET.
</p>
<h2>Topology:</h2>
<img src="https://i.vanbonzen.cam/s/iAC5E9RENFPwjBb/preview" />
